<div class="ui-widget">
  <div class="ui-widget-header"> 
    <h2 id="name" style="display: inline-block; float: middle;"> New Report
    </h2>
    <h4 id="name" style="display: inline-block;">Date
    </h4>
  </div>
  <div class="ui-widget-content">
    <ul id="reportlist" class="ui-listview ui-listview-inset"> 
      <li class="ui-li-static ui-body-inherit  ui-first-child ui-list-divider" data-role="list-divider"> 
        <label><span class="label">Description</span>
      </li>
      <li class="ui-li-static ui-body-inherit" id="description"> 
        <textarea  name= "textarea" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"></textarea>
      </li>
      <li class="ui-li-static ui-body-inherit ui-list-divider" data-role="list-divider">
        <label><span class="label">Clients</span>
      </li>
      <li class="ui-li-static ui-body-inherit" id="clients">
      </li>
      <li class="ui-li-static ui-body-inherit ui-list-divider" data-role="list-divider">
        <label><span class="label">Tasks</span>
      </li>
      <li id="taskapp" class="ui-li-static ui-body-inherit">
        <header>
          <input id="new-task" placeholder= "What needs to be done?" type= "text"/>
        </header>
        <section id="main">
          <input id="toggle-all" type= "checkbox"/>
          <label for= "toggle-all">Mark all as complete</label>
          <ul id="task-list"></ul>
        </section>
        <footer>
          <a id="clear-completed">Clear completed</a>
        </footer>
        <div id="task-count"></div>
      </li>
      <li class="ui-li-static ui-body-inherit ui-list-divider" data-role="list-divider">
        <label><span class="label">Workers</span>
      </li>
      <li id="workers" class="ui-li-static ui-body-inherit">
      </li>
      <li id="launch" class="ui-li-static ui-body-inherit"> 
        <button class="ui-button">Submit</button>
      </li>
    </ul>
  </div>
</div>