<div id="reports-index">
  <button id="new-report-button">Add New Report</button>
  <table class="table">
    <h3>Reports</h3>
    <tbody class="table">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Client</th>
        <th>Employees</th>
      </tr>
      <% for (var report in reports) { %> 
        <tr>
          <td><%=report.description%></td>
          <td><%=report.report_date%></td>
          <td><%=report.workers%></td>
          <td>
            <button class="btn">View Report</button>
          </td>
        </tr>
      <% } %> 
    </tbody>
  </table>
  <div class="alert alert-info">
    <small>The above are the reports that works can receive and fill out in the field</small>
  </div>
</div>
