.block.content
  #employees-dash
    .grid
      = render partial: 'employees/new', locals: {employee_logs: employee_logs}
      .gridrow.new-well
        = render partial: 'employees/table', locals: {name:  name, employees: employees, options: options, type: type }
