.block
  = render partial: 'employees/nav', locals: { :active => ["Employees", 'employees/index'], :inactive => [["Update Employees", 'employees/new']] }
.content
  .inner
    %h2.title
      = "Listing #{@company.name} Employees"
    #employees-dash
      = render partial: 'employees/table', :locals => { :employee_logs => @employee_logs, :options => { :company_id => @company.id, :name => @company.name }  }

