:javascript
  $("##{email_id}").editable({
      closeOnEnter : true, // Whether or not pressing the enter key should close the editor (default false)
      event : 'click', // The event that triggers the editor (default dblclick)
      emptyMessage : 'Employee Email', // HTML that will be added to the editable element in case it gets empty (default false)
      callback : function( data ) {
          if( data.content ) {
            var el = data.$el;
            var id = el.attr.id();
            var hash = {};
            hash["employee_log"] = {}
            hash["employee_log"]["email"] = data.content;
            var str =  "employee_log/" + id + "/update.json";
            callAjax('post', str, hash)
          }
          if( data.fontSize ) {
              // the font size has changed
          }
          // data.$el gives you a reference to the element that was edited
      }
  });
  $("##{employee_number_id}").editable({
      closeOnEnter : true, // Whether or not pressing the enter key should close the editor (default false)
      event : 'click', // The event that triggers the editor (default dblclick)
      emptyMessage : 'Employee Number', // HTML that will be added to the editable element in case it gets empty (default false)
      callback : function( data ) {
          if( data.content ) {
            var el = data.$el;
            var id = el.attr.id();
            var hash = {};
            hash["employee_log"] = {}
            hash["employee_log"]["employee_number"] = data.content;
            var str =  "employee_log/" + id + "/update.json";
            callAjax('post', str, hash)
          }
          if( data.fontSize ) { }
      }
  });

  $("##{employee_role_id}").editable({
      closeOnEnter : true, // Whether or not pressing the enter key should close the editor (default false)
      event : 'click', // The event that triggers the editor (default dblclick)
      emptyMessage : 'Employee Email', // HTML that will be added to the editable element in case it gets empty (default false)
      callback : function( data ) {
          if( data.content ) {
            var el = data.$el;
            var id = el.attr.id();
            var hash = {};
            hash["employee_log"] = {}
            hash["employee_log"]["employee_role"] = data.content;
            var str =  "employee_log/" + id + "/update.json";
            callAjax('post', str, hash)
          }
          if( data.fontSize ) { }
      }
  });