.secondary-navigation
  %ul.wat-cf.project-items
    #employees-nav
      %li.first.active
        %a= link_to active[0], active[1], :remote => true
      - inactive.each do |arr|
        %li
          %a= link_to inactive[0], inactive[1], :remote => true