.grid
  - if (employee.role.downcase == 'employee')
    - employee.assigned_reports.each do |u_r|
      .gridrow
        .new-well
          = render partial: 'users_reports/show', locals: { users_report: u_r}
  -else
    .gridrow
      .new-well
        = render partial: 'reports/index', locals: { reports: employee.assigned_reports, name: employee.name, id: employee.id, options: options}
