%td
  %a=link_to employee.assigned_reports(options).count, reports_path({:data => { :reports => 'date', :name => employee.name, :id => employee.id, :options => options, :div => '#projects-template', :table_name => 'assigned' }}), :remote => true
%td
  %a=link_to employee.completed_reports(options).count, reports_path({ :data => { :reports => 'date', :name => employee.name, :id => employee.id, :options => options, :div => '#projects-template', :table_name => 'completed' }}), :remote => true
%td
  %a=link_to employee.tasks_completion_percent(options), tasks_path({ :data => { :tasks => 'date', :name => employee.name, :id => employee.id, :div => '#projects-template', :options => options}}), :remote => true
%td
  %a=link_to employee.hours(options), employees_hours_timesheet_path({:data => { :users_reports => 'date', :name => employee.name, :id => employee.id, :div => '#projects-template', :options => options }}), :remote => true
%td
  %a=link_to employee.days_worked(options), employees_days_timesheet_path({ :data => { :users_reports => 'date', :name => employee.name, :id => employee.id, :div => '#projects-template', :options => options }}), :remote => true