var appearance = $('<%= escape_javascript(render(:partial => 'employees/show', :locals => { employee: employee } ))%>');
$("#hidden").innerHtml = $("#sector").html();
$("#sector").html(appearance);
$("#sector").show();
