.block
  .content
    #display
      #project-data
        = render(:partial => 'projects/index', locals: {user: @user})
    #hidden{:hidden => ""}
- content_for :sidebar, render(partial: 'admins/sidebar', locals: { user: @user})