.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        %a{onclick: 'showAdminData()'} Admin Data
      %li.active
        %a{onclick: 'showProjectData()'} Projects
  .content
    #display
      #admin-data{:hidden => ""}
        = render(:partial => 'admins/admin_data', locals: {user: @user})
      #project-data
        = render(:partial => 'projects/projects', locals: {user: @user})
    #hidden{:hidden => ""}
- content_for :sidebar, render(partial: 'admins/sidebar')
:javascript
  function showAdminData() {
    $('#admin-data').show();
    $('#project-data').hide();
  }

  function showProjectData() {
    $('#admin-data').hide();
    $('#project-data').show();
  }
