.block.notice
  %h3="Welcome #{@user.name}"
  .content
    %p Use TimeCard.com to manage your employees and monitor productivity.
.block
  %h3
  %ul.navigation
    %li
      %a= link_to "Add Employees", 'employees/new', :remote => true
    %li
      %a{:href => "/projects/new"} Add a Project
    %li
      %a{:href => "/reports/new"} Add a Report

