%ul.sidebar-nav
  %li.sidebar-brand
    %a{:href => "#projects"} Projects
  %li.sidebar-brand
    %a{:href => "#clients"} Clients
  %li.sidebar-brand
    %a{:href => "#employees"} Employees
  %li.sidebar-brand
    %a{:href => "#reports"} Reports


