.form-group
  %input{:type => 'hidden', :name => 'users_report', :value => owner_id}
%td.form-group
  %input.text_field{:type => 'text', :class => 'task-description-text', :name => 'description', :placeholder => 'Task Description'}
%td.form-group
  - if (employees.count == 1)
    %input{:type => 'hidden', :name =>  'employees', :value => employees[0].id}
  - else
    %table.table
      %thead Employees:
      #task-employees
        %tr.last
          %td
            %select#employee-select
              - options employees.each do |employee|
                %option{:value => employee.id} employee.name
    = render partial: 'tasks/jscript'