.form-group
  = hidden_field_tag :users_report, :value => owner_id
%td.form-group
  = text_field_tag :description, 'Task Description'
%td.form-group
  - if (employees.count == 1)
    = hidden_field_tag 'employees[]', :value => employees[0].id
  - else
    %table.table
      %thead Employees:
      #task-employees
        %tr.last
          %td
            %select#employee-select
              - options employees.each do |employee|
                %option{:value => employee.id} employee.name
    = render partial: 'tasks/jscript'