.form-group
  %input{:type => 'hidden', :name => @owner, :value => @owner.id}
.form-group
  %label Description:
  %input.form-control{:type => 'text', :name => 'description'}
.form-group
  - if (@employees.count == 1)
    %label="Employee: #{@employees[0].name}"
    %input.hidden{:type => 'hidden', :value => @employees[0].id, :name => 'employees[]'}
  - else
    %table.table
      %thead Employees:
      #task-employees
        %tr.last
          %td
            %select#employee-select
              - options @employees.each do |employee|
                %option{:value => employee.id} employee.name
    = render partial: 'tasks/jscript'
  = end