- upload = employees.count > 1 ? 'false' : ''
%h5{:hidden => upload}= link_to "Or, Upload a Csv instead: ", 'tasks/upload_form', :div => '#tasks-form', :remote => true
%tr
  .form
    %form#task-form{'accept-charset' => "UTF-8", :class => "new_task", 'action'=>'tasks/create.js', 'data-remote' => "true", 'id' => "new_task", 'method'=>"post"}
      %input{:type => 'hidden', :value => div, :name => 'div'}
      = render partial: 'tasks/embedded_form', locals: { owner: owner, owner_id: owner_id, employees: employees }
      %input{:type => 'hidden', :name => 'submit'}

  :javascript
    $(document).ready ->
      $("#new_task").on("ajax:success", (e, data, status, xhr) ->
        $("#new_task").append xhr.responseText
      ).on "ajax:error", (e, xhr, status, error) ->
        $("#new_task").append "<p>ERROR</p>"
