%table.table{:id => "tasks-#{owner.id}", :class => "t-table", :style => "margin-top: 5px;"}
  .task{:name => owner.id}
    %tr
      %td Description
      %td Completed
      %td Notes
      %td
    - tasks.each do |task|
      = render partial: 'tasks/show', locals: { task: task }