%table.table#task-table
  %h4 Tasks
  .wrapper-right
    %h5= link_to 'New Task', new_task_path({:data => {:owner => owner, :employees => [owner.user], :div => ".tasks[name=#{owner.id}]"}}), :remote => true
  .task{:name => owner.id}
    %tr
      %td Name
      %td Description
      %td Completed
      %td Notes
      %td
      %td
    - tasks.each do |task|
      = render partial: 'tasks/show', locals: { task: task }