:plain
  var n = $("#{ escape_javascript(render partial: 'tasks/show', locals => @data)}");
  $(".task[name=#{@data[:users_report].id}]").append(n).show();
  $('input.text_field[text=#{@data[:task].description}]').text("")
