.form
  %form{"action" => "signups/create", "method"=> "post"}
    %p= link_to "Already a member?", '/login'
    .form-group
      %input.form-control{:type => "text", :name => "email", :placeholder => "Email"}
    .form-group
      %input.form-control{:type => "text", :name => "name", :placeholder => "Name"}
    .form-group
      %input.form-control{:type => "text", :name => "employee_number", :placeholder => "Employee Number"}
    .form-group
      %select.form-control
        - companies.each do |c|
          %option{:value => c}=c
    .form-group
      %input.form-control{:type => "password", :name => "password", :placeholder => "Password"}
    %input.form-control{:style => "visibility: hidden;", :type => "submit"}