.content
  .inner
    %h1 Give your business a 'start-up' edge
    - if (flash[:error])
      .error-message
        %h3=flash[:error]
    %div.signup
      = render partial: 'sign_up_form', :locals => {:companies => @signup.companies}
