.jumbotron.masthead
  .container
    .page-header
      %h1
        Metrics
        %small Welcome back!
      %div.instruction
        %small
          Enter your user name and password to login.
    %div.login
      = render 'login_form'