.jumbotron.masthead
  .container
    .page-header
      %h1
        Metrics
        %small Welcome back!
      %div{style: "float: left; width: 50%; display-inline: block; vertical-align: top;"}
        %small
          Enter your user name and password to login.
    %div{style: "float: right; width: 40%; display-inline: block;"}
      = render partial: 'login_form'