.block.notice
  %h3 Managers
  .content
    %p="Add a new managers, or view current managers working for #{@user.company.name}"
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "/managers/new"} New Manager
    %li
      %a{:href => "managers/index"} All Managers
