.form
  %form{:action => 'clients', :method => 'post'}
    .form-group
      %input.form-control{:name => "name", :type => "text"}
      %input.submit{:name => "submit", :type => "submit"}
    .form-group
      %button.btn.btn-default=link_to "Add Another Contact", '/contacts/new', :data => {:embedded => true}, :remote => true