.form.form-inline
  %p= link_to "Not a member?", '/'
  = form_tag '/authenticate' do
    .input-prepend.first
      %span.add-on
        %i.icon-envelope
      %input.span2{:type => "text", :name => "email", :placeholder => "Email"}
    .input-prepend
      %span.add-on
        %i.icon-key
      %input.span2{:type => "password", :name => "password", :placeholder => "Password"}
    %input{:style => "visibility: hidden;", :type => "submit"}
