%form.form-inline{"action" => "authenticate", "method"=> "post"}
  %p= link_to "Already a member?", '/login'
  .input-prepend.first
    %span.add-on
      %i.icon-envelope
    %input.span2{:type => "text", :name => "[manager]email", :placeholder => "Email"}
  .input-prepend
    %span.add-on
      %i.icon-key
    %input.span2{:type => "text", :name => "[manager]name", :placeholder => "Name"}
  .input-prepend
    %span.add-on
      %i.icon-key
    %input.span2{:type => "text", :name => "[manager]company_name", :placeholder => "Company Id"}
  .input-prepend
    %span.add-on
      %i.icon-key
    %input.span2{:type => "password", :name => "[manager]password", :placeholder => "Password"}
  %input{:style => "visibility: hidden;", :type => "submit"}