.page-header
  %h1.h1
    Welcome back!
  %div.instruction
    Enter your user name and password to login.
:javascript
  function makeWhite() {
    $('body').css("background","white");
  }
  makeWhite();