.container
  .page-header
    %h1
      Metrics
      %small Give your business a 'start-up' edge
  - if (flash[:error]) 
    .error-message 
      %h3=flash[:error]
  %div.explanation

    %h4
      Metrics is a deluxe suite of management tools that gives your business an edge agaisnt its competition. Metrics requires no specialty hardware, it is 'bank-vault' secure, and can be easily integrated with your businesses workflow. If you want to:
      %ul
        %li Make your business paperless
        %li Automate payroll
        %li Get live updates on inventory use and matrials
        %li Automate daily scheduals for workers
        %li Get live updates on worker progress via a Smart Phone or Tablet
        %li Get access to an expanding feature set and iteractive reporting tools

      Then Metrics is be the solution for you.
  %div.signup
    = render partial: 'sign_up_form'
