.form
  %form#new-message-form{'accept-charset' => "UTF-8", :class => "new_message",'method' => 'post', 'action' => 'chats/new_message', 'data-remote' => "true", 'id' => "new_message", 'onsubmit' => "return clickedThis('#{div}')" }
    .form-group
      %input.message.text_field.form-control{:type => 'text', :name => 'text', "placeholder" => 'Enter a message here'}
    .form-group
      %p= "Id shoould be here: #{id}"
      %input.message.hidden{:type => 'hidden', :name => 'id', :value => "#{id}"}
    .form-group
      %input.submit{:type => 'submit', :name => 'submit' }
