.form#new-message-form{:action => "chats/new_message"}
  .error
  .form-group
    %input.form-control{:type => 'text', :name => 'text', "placeholder" => 'Enter a message here'}
  .form-group
    %input.hidden{:type => 'hidden', :name => 'id', :value => "#{id}"}
  %button.form-control{:onclick => 'return submitMessageForm();'} Submit