#todoapp
  %header
    %h1 Todos
    %input#new-task{placeholder: "What needs to be done?", type: "text"}
  %section#main
    %input#toggle-all{type: "checkbox"}
    %label{for: "toggle-all"} Mark all as complete
    %ul#task-list
  %footer
    %a#clear-completed Clear completed
  #task-count
