%form#new-project-form{:method => 'action', :action => 'projects/new', :role => 'form'}
  .form-group
    %label Project Name
    %input.form-control{:type => "text", :name => "project[:name]"}
  .form-group
    %label Start Date
    %input.form-control{:type => "date", :name => "project[:start-date]"}
  .form-group
    %label End Date
    %input.form-control{:type => "date", :name => "project[:end-date]"}
  .form-group
    %label Client
    %select.form-control
      - @user.clients.each do |client|
    %button.btn.btn-default{:onclick => 'createClient()'} Or Pick New Client
    #create-client{hidden: ""}
      = render(partial: 'clients/new', :locals => { :user => @user, :embedded => true }
      %button.btn.default{:onclick => 'selectClient()'} Select client
  %input{:type => submit, :name => 'submit'}


:javascript
  $('form#new-project-from').trigger('submit.rails');

  function createClient() {
    $('#create-client').show();
    $('#client-select').hide();
  }

  function selectClient() {
    $('#create-client').hide();
    $('#client-select').show();
  }