:javascript
  $('.linkster').click(function(event){
    event.preventDefault();
    $("#projects-nav td").each(function(){
      if ($(this).hasClass("active")) {
        $(this).removeClass("active")
      }
    });
    $(this).parent().addClass("active").show();
  });