:javascript
  $('.project-items').on('click','li', function(){
    console.log("here")
   $(this).addClass('active').siblings().removeClass('active');
  });

-# reports/index
-# {:reports => @project.reports.order(:date), :name => project.name, :options => {:project_id => project.id}

-# clients/index
-# {:clients => project.clients.order(:name), :name => project.name, :options => {:project_id => project.id}

-# employees/index
-# {:employees => project.employees.order(:name), :name => project.name, :options => {:project_id => project.id}}

-# managers/index
-# :managers => project.managers.order(:name), :options => {:project_id => project.id} :name => project.name}