.block.notice
  %h3 Projects
  .content
    %p="Add a new project for #{@user.company.name} or view past projects"
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "projects/new"} New Project
    %li
      %a{:href => "projects/old"} Past Projects
