:plain
  var appearance = $("#{escape_javascript(render(:partial => 'projects/show', :locals => { project: @project } ))}");
  $("#hidden").innerHtml = $("#sector").html();
  $("#sector").html(appearance);
  $("#sector").show();
