<div class="view">
	<input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
	<label><%- description %></label>
	<button class="destroy"></button>
</div>
<input class="edit" value="<%- title %>">
