/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.css
 *= require bootstrap.icon-large.css
 *= require datepicker3.css
 *= require jquery.fileupload-ui.css
 *= require clearfix.css
 *= require font-awesome.css
 *= require_tree .
 *= require_self

 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
*/
/*/*/

.wrapper {
    margin: 0px;
    width: 50%;
    display: inline-block;
    padding: 0px;
    vertical-align: top;
}

.wrapper h3 {
  margin-top: 0px;
}

.wrapper .right {
  padding-right: 5px;
  float: right;
}

.right h5 {
  text-align: right;
}

#wrapper {
  padding-top: 0px;
}
#main-navigation {
  background: inherit;
}
#main-navigation ul li {
  padding: none;
  background: inherit;
}
#user-navigation ul li {
  padding: none;
}
#user-navigation {
  background: inherit;
  top: none;
  left: none;
  right: none;
}
#header {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  padding-top:0px;
}

