/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.css
 *= require bootstrap.icon-large.css
 *= require datepicker3.css
 *= require jquery.fileupload-ui.css
 *= require clearfix.css
 *= require font-awesome.css
 *= require_tree .
 *= require_self

 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
*/
/*/*/
table .table .table-striped {
  border: 1px solid #CCC;
  border-bottom-color: #999;
  border-top-color: #DADADA;
  border-right-color: #999;
  border-left-color: #999;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.17);
}


.table > .u-table {
  background: #f0f0f0;
   border: 1px solid #CCC;
  border-bottom-color: #999;
  border-right-color: #999;
  border-left-color: #999;
  border-top-color: #DADADA;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.17);
}

table > tbody > tr {
  border: 1px solid #CCC;
  border-bottom-color: #999;
  border-right-color: #999;
  border-left-color: #999;
  border-top-color: #DADADA;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.17);
}

th {
  text-align: center;
}

.chat .container {
  width: 30%;
  height: 30%;
  float: right;
  margin-bottom: 0px;
}

#report-summary {
  font-style: italic;
}

.wrapper {
    margin: 0px;
    width: 50%;
    display: inline-block;
    padding: 0px;
    vertical-align: top;
}

.wrapper h3 {
  margin-top: 0px;
}

.wrapper .right {
  padding-right: 5px;
  float: right;
}

.right h5 {
  text-align: right;
}

#projects.block.content {
  padding: 1em;
  background-color: $gray-light;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  background: #fff;

}

tr#projects-nav td {
  border: 1px solid #CCC;
  border-bottom-color: #999;
  border-top-color: #DADADA;
  border-right-color: #999;
  border-left-color: #999;

  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.17);
  text-align: center;
  font-size: 16;
}

.new-well{
  border: 1px solid #CCC;
  border-bottom-color: #999;
  border-top-color: #DADADA;
  border-right-color: #999;
  border-left-color: #999;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.17);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
}

#wrapper {
  padding-top: 0px;
}
#main-navigation {
  background: inherit;
}
#main-navigation ul li {
  padding: none;
  background: inherit;
}
#user-navigation ul li {
  padding: none;
}
#user-navigation {
  background: inherit;
  top: none;
  left: none;
  right: none;
}
#header {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  padding-top:0px;
}
.table > .t-table > tbody > tr > td {
  border: 0px;
  box-shadow: 0;
}

.table > .t-table > tr {
  border: 0px;
  box-shadow: 0;
}

.table > .u-table > tbody > tr > td {
  border: 0px;
  box-shadow: 0;
}

.table > .u-table > tr {
  border: 0px;
  box-shadow: 0;
}

table.table.u-table. {
  border: 0px;
  box-shadow: 0;
}

.u-table > tr {
  border: 0px;
  box-shadow: 0;
}

.t-table > td {
  border: 0px;
  box-shadow: 0;
}
