%h1 Listing reports_tasks

%table
  %tr
    %th
    %th
    %th

  - @reports_tasks.each do |reports_task|
    %tr
      %td= link_to 'Show', reports_task
      %td= link_to 'Edit', edit_reports_task_path(reports_task)
      %td= link_to 'Destroy', reports_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reports task', new_reports_task_path
