- project_idd = project_id ? project_id : ''
.grid
  .well
    %h3.lead{:style => 'text-align: center;'} New Report
    .form
      %form{'accept-charset' => "UTF-8", :class => "new_report",'method' => 'post', 'action' => 'reports/create.js', 'data-remote' => "true", 'id' => "new_report", 'onsubmit' => "return onSubmit()" }
        - if (flash[:error])
          #error_explanation
            %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
        %table.table#new-report-table
          %tr
            %td
              %input.text_field.form-control{ :type => "text", :name => "name", placeholder: 'Report Name'}
            %td
              %input.date_field.form-control{ :type => "date", :name => "date"}
              %input.hidden_field{:type => "hidden", :name => "div", :value => div}
          %tr
            %td
              %input.text_field.input-large.form-control{ :type => "text", :name => "summary", placeholder: 'Summary'}
            %td
              %select.form-control{:type => "select", :name => "project_id", :value => project_idd}
                - @user.company.projects.each do |p|
                  %option{:value => p.id}=p.name
          %tr
            %td{colspan: 2}
              %input.form-control{ :type => 'submit', :name => 'submit'}