.reports
  %table.table
    %tr
      %th Name
      %th Manager
      %th Date
    - reports.each do |report|
      - rep_nam = report.name ? report.name : "Report #{report.id}"
      %tr
        %td=link_to rep_nam, report_path({:id =>report.id, :options => options, :div => div}), :remote => true
        %td= link_to report.manager.name, employee_path({:id => report.manager.id, :options => options}), :remote => true
        %td= report.date