:plain
  var appearance = $('#{escape_javascript(render :partial => 'reports/show', :locals => @data ) }');
  $("#sector").hide();
  $("#hidden").innerHtml = $("#sector").html();
  $("#sector").html(appearance);
  $("#sector").show();