#header
  %h1
    %a{:href => "/"} TimeCard.com
  #user-navigation
    %ul.wat-cf
      %li
        %a{:href => "/reports/index"}= Reports
      %li
        %a{:href => "/data"}= Data
      %li
        %a{:href => "/chat"}= Chat
      %li
        %a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")